{% extends "starwars/base.html" %}

{% block content %}
<ul>
    <li>name: {{ character.name }}</li>
    <li>height: {{ character.height }}</li>
    <li>mass: {{ character.mass }}</li>
    <li>hair_color: {{ character.hair_color }}</li>
    <li>skin_color: {{ character.skin_color }}</li>
    <li>eye_color: {{ character.eye_color }}</li>
    <li>birth_year: {{ character.birth_year }}</li>
    <li>gender: {{ character.gender }}</li>
    {% if character.pic.url %}
    <li>pic: <img src="{{ character.pic.url }}"></li>
    {% endif %}
</ul>
{% endblock %}