<form action="{% url 'search' %}" method="post">
{% csrf_token %}
    <input type="text" name="search" size="48"/>
<input type="submit" value="Search" />
</form>

{% if characters_list %}
    {% for c in characters_list %}
        <form action="{% url 'crud' %}" method="post">
        {% csrf_token %}
        <input type="submit" name="edit" value="Edit" />
        <input type="submit" name="delete" value="Delete" />
        <a href="{% url 'character' c.id %}">{{ c.name }}</a>
            <input type="hidden" name="exist_char_id" value="{{ c.id }}"/>

        </form>
    {% endfor %}
{% else %}
    <p>No characters are available.</p>
{% endif %}