{% extends "starwars/base.html" %}

{% block content %}
<form action="{% url 'search' %}" method="post">
{% csrf_token %}
    <input type="text" name="search" size="48"/>
<input type="submit" value="Search" />
</form>

{% if characters_list %}
    {% for c in characters_list %}
        <a href="{% url 'edit' c.id %}">[edit]</a>
        <a href="{% url 'delete' c.id %}">[delete]</a>
        <a href="{% url 'character' c.id %}">{{ c.name }}</a>
        <br>
    {% endfor %}
{% else %}
    <p>No characters are available.</p>
{% endif %}
{{ form }}
{% endblock %}